# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin
/wp-content/languages
/wp-includes
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
/wp-config.php
/plugins/woocommerce/

# Example themes
/wp-content/themes/twenty*/

# Uploads
/wp-content/uploads/

# Log files
*.log
*.zip
*.rar

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

ai1wm-backups
cache
plugins